doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Recipe Collection
    link(rel="stylesheet", href="/styles.css")

  body
    .container
      h1 Recipe Collection
      
      each recipe in recipes
        .recipe
          h2= recipe.name
          
          section
            h3 Ingredients
            ul
              each ingredient in recipe.ingredients
                li= ingredient

          section
            h3 Instructions
            ol
              each instruction in recipe.instructions
                li= instruction

      if !recipes.length
        p No recipes found.